body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.current {
  color: #2196f3;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 90px;
}

.logo-color-web {
  color: #2196f3;
}

.logo-color-studio-header {
  color: #000000;
}

.logo-color-studio-footer {
  color: #ffffff;
}

/* header-section*/
.page-head {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.head-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: block;
}

.site-nav {
  display: flex;
  letter-spacing: 0.02em;
  color: #212121;
  align-items: center;
  font-weight: 500;
  font-style: normal;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16,41px;
  letter-spacing: 2%;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item:hover,
.site-nav-item:focus {
  color: #2196f3;
}

.header-studio {
  position: relative;
  padding-bottom: 28px;
}

.header-studio::after {
position: absolute;
left: 0;
bottom: 0;
content: "";
display: block;
width: 100%;
height: 4px;
background-color:#2196F3;
}

.head-portfolio {
  position: relative;
  padding-bottom: 28px;
}

.head-portfolio::after {
position: absolute;
left: 0;
bottom: 0;
content: "";
display: block;
width: 100%;
height: 4px;
background-color:#2196F3;
}

.head-contacts {
  display: flex;
  justify-content: center;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: auto;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contacts:hover,
.head-contacts:focus {
  color: #2196f3;
}

.head-mail {
  margin-right: 30px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-icon:hover {
  fill: currentColor;
}

/* hero block section */

.hero-block {
  background-color: #2f303a;
  position: relative;
  
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-size: cover;
background-repeat: no-repeat;
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
),
url('../images/hero/hero-background.jpg');
}

.hero-block-text {
  max-width: 700px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-block-button {
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 73px; 
  border-radius: 4px;
  padding: 6px 22px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.modal-form {
position: relative;
width: 100%;
height: 100%;
}

.modal-input {
  height: 44px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.input-title {
display: block;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
}

.user-name-div {
  position: relative;
}

.user-name-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: inline-block;
  left: 19px;
  top: 50%;
  transform: translateY(-70%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-tel-div {
  position: relative;
}

.user-tel-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: inline-block;
  left: 19px;
  top: 50%;
  transform: translateY(-70%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-email-div {
  position: relative;
}

.user-email-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: inline-block;
  left: 19px;
  top: 50%;
  transform: translateY(-70%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
width: 100%;
height: 120px;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
resize: none;
}

.modal-textarea::placeholder {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.modal-contract-checkbox {
display: flex;
justify-content: center;
align-items: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;
margin-bottom: 30px;
}

.modal-contract-checkbox::before {
  display: block;
  content: "";
  background-image: url(../images/modal/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.modal-submit-button {
position: absolute;
left: 124px;
bottom: 40px;
width: 200px;
height: 50px;
background-color: #2196f3;
color: #FFFFFF;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
}

.modal-close { 
position: absolute;
width: 30px;
height: 30px;
left: 490px;
top: 8px;
display: block;
content: "";
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 100%;
background-image: url(../images/hero/Vector.svg);
background-repeat: no-repeat;
background-position: center;
}

.modal-close:hover,
.modal-close:focus {
  color: #2196f3;
}

/* about us section */
.our-benefits-container > .our-benefits-list {
  display: flex;
  justify-content: center;
}

.our-benefits-item {
  width: 270px;
  height: 101px;
}

.our-benefits-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.benefit-antenna::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/our-benefits/antenna-1.svg);
  background-position: center;
}

.benefit-clock::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/our-benefits/clock-2.svg);
  background-position: center;
}

.benefit-diagram::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/our-benefits/diagram-3.svg);
  background-position: center;
}

.benefit-astronaut::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/our-benefits/astronaut-4.svg);
  background-position: center;

}

.our-benefits-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  width: 270px;
  margin-right: 0px;
}

.about-us-description {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-right: 30px;
  width: 270px;
  margin-right: 0px;
}

/* what we do section */
.what-we-do-section {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.what-we-do-img {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.what-we-do-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.what-we-do-img:not(:last-child) {
  margin-right: 30px;
} 

.what-we-do-item-description {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 27px;
}

/* our team section */
.our-team {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
}

.our-team-list {
  display: flex;
  margin: -15px;
}

.our-team-list-item {
  flex-basis: calc(100% / 4);
  margin: 15px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.our-team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.team-member-title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.team-member-description {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}

.team-socmedia-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 206px;
}

.team-socmedia-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 100%;
  color: #AFB1B8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socmedia-logo-box:hover, .team-socmedia-logo-box:focus {
background-color: #2196F3;
color: #ffffff;
}

.team-socm-icon {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
fill: currentColor;
}

/* Our-clients-section */

.our-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-clients-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}

.cliients-logo-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.clients-logo-box {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;

  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-box:hover, .clients-logo-box:focus {
color:#2196F3;
border-color: #2196F3;
}

.clients-logo-icon {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
fill: currentColor;
}

/* footer section */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-content-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 
}

.footer-logo {
  margin-bottom: 20px;
}

.location-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-social-media {
  width: 206px;
  margin-right: auto;
  margin-left: 70px;
  margin-top: 12px;
}

.join-us-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer-socmedia-list {
  display: flex;
  justify-content: space-between;
}

.footer-socmedia-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  color: white;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmedia-logo-box:hover, .footer-socmedia-logo-box:focus {
background-color: #2196F3;
}

.footer-socmedia-icon {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
fill: currentColor;
}

.footer-subscribe-zone {
  display: flex;
  width: 570px;
  margin-top: 12px;
  margin-bottom: 94px;
  margin-left: 93px;
}

.footer-subscribe-title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
}

.footer-email-input::placeholder {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
position: relative;
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: white;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
margin-top: 36px;
margin-left: 12px;
}

.subscribe-button-title {
position: absolute;
left: 29px;
top: 10px;
}

.subscribe-send-icon {
position: absolute;
right: 28px;
top: 13px;
margin-left: 10px;
fill: #FFFFFF;
}


/* filters section */

.filters-buttons {
  display: flex;
  justify-content: center;
}

.filters-container {
  margin-bottom: 50px;
}

.our-projects-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  color: #212121;
  padding: 6px 22px;
  min-width: 73px; 
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.margin-for-our-projects-buttons {
  margin-right: 8px;
}

.marketing-button {
  margin-right: 0px;
}

.our-projects-filters:hover,
.our-projects-filters:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* our projects section */

.projects-img {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 2 * 15px);
  margin: 15px;
}

.projects-items-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-item:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.our-projects-description {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  font-weight: normal;
}

.thumb {
  overflow: hidden;
  position: relative;
}

.projects-item:hover .projects-description-overlay {
  transform: translateY(0);
}
.projects-description-overlay {
  padding: 63px 24px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  transform: translateY(100%);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}
